/*17425086, Roshan Shrestha*/

body {
    font-family: 'Gudea', sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}


/* Global */

ul {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    background: black;
    color: white;
    padding-top: 2%;
    min-height: 20%;
    border-bottom: white 3px solid;
}

header img {
    margin-top: 0px;
    height: 100px;
    width: 100px;
}

header .head {
    display: flex;
    flex-direction: row;
}

.head1 h1 {
    color: green;
    margin-right: 15px;
    margin-left: 15px;
}

.head2 h1 {
    color: white;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li {
    display: inline;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

header h1 {
    margin: 0;
    padding: 1%;
    font-size: 50px;
}

header .nav {
    margin-top: 30px;
    margin-left: 82px;
}

header .highlight, header .current a {
    color: green;
    font-weight: bold;
}

header a:hover {
    color: green;
    font-weight: bold;
}


/*body*/

section {
    background-color: white;
}

section h1 {
    text-align: center;
    font-size: 32px;
    color: green;
}

section h2 {
    text-align: left;
    padding: 10px;
    font-size: 30px;
    color: black;
}

section p {
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: black;
}


/*footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    color: white;
    border-top: white 3px solid;
}

footer p {
    text-align: center;
}

footer .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box img {
    height: 50px;
    width: 50px;
    transition: transform 1s;
}

.box img:hover {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360deg);
    /* Standard syntax */
}


/*Media Quries*/

@media (max-width: 786px) {
    header {
        flex-direction: column;
    }
    header .head .head1 h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    header .head .head2 h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    header .nav {
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
    header .nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .box img {
        width: auto;
    }
    footer p {
        padding-bottom: 2px;
        margin-top: -1px;
        font-size: 13px;
    }
}
